@model MVCApp.ViewModel.CurrencyViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyData.CurrencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyData.BanknoteBuying)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyData.BanknoteSelling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyData.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CurrencyList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BanknoteBuying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BanknoteSelling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

